<!DOCTYPE html>
<html>
	<head>
		<title><%= @title %></title>
		<meta charset="utf-8">
		<link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
		<script type="text/javascript" src="http://code.jquery.com/jquery.js"></script> 
		<style>
			body 
			{
				padding-top: 60px;
			}
			strong 
			{
				font-size: 14pt; 
			} 
		</style>
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="">БУЛІК</a>
					<ul class="nav">
						<li class="divider-vertical"></li>
						<li><a href="">Шини</a></li>
						<li class="divider-vertical"></li>
						<li><a href="">Диски</a></li>
						<li class="divider-vertical"></li>
						<li><a href="">Доставка</a></li>
						<li class="divider-vertical"></li>
						<li><a href="">Кошик</a></li>
						<li class="divider-vertical"></li>
					</ul>
				</div>
			</div>
		</div>   
    	<div class="container"> 
			<%= yield %>
		</div> 
	</body>
</html>
