<!DOCTYPE html>
<html>
	<head>
		<title><%= @title %></title>
		<meta charset="utf-8">
		<link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
		<script type="text/javascript" src="http://code.jquery.com/jquery.js"></script> 
		<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.js"></script>
		<style>
			body 
			{
				padding-top: 60px;
			}
			strong 
			{
				font-size: 14pt; 
			} 
		</style>
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="/">БУЛІК</a>
					<ul class="nav">
						<li class="divider-vertical"></li>
						<li><a href="/tyres?tyre_width=&tyre_height=&tyre_diameter=&tyre_brand=&tyre_family=&tyre_season=">Шини</a></li>
						<li class="divider-vertical"></li>
						<li><a href="">Диски</a></li>
						<li class="divider-vertical"></li>
						<li><a href="/delivery">Доставка</a></li>
						<li class="divider-vertical"></li>
					</ul>
					<ul class="nav pull-right">
						<li class="divider-vertical"></li>
						<li><a href="/shopping_cart"><i class="icon-shopping-cart icon-white"></i> В кошику товарів: <%=session["all_quantity"]%> на суму <%=session["all_price"]%> грн.</a></li>
						<li class="divider-vertical"></li>
					</ul>
				</div>
			</div>
		</div>   
    	<div class="container"> 
<%= yield %>
		</div> 
	</body>
</html>
