<html>
    <head>
        <title><%= @title %></title>
        <meta charset="utf-8">
        <script type="text/javascript" src="http://code.jquery.com/jquery.js"></script> 
    </head>
    <body>  
        <%= yield %>
    </body>
</html>
