        <form name="order" method="GET" action="/thanks_page">
            <input name="form" type="hidden" value="order_form">
            <p><b>Оформити замовлення</b></p>
            <p>Імя</p><input name="customer_name" type="text" required>
            <p>Адреса</p><input name="customer_address" type="text">
            <p>Електронна адреса</p><input name="customer_email" type="text">
            <p>Телефон</p><input name="customer_phone" type="text" required>
            <p><a href="shopping_cart">Повернутися до кошика</a>
            <input type="submit" value="Замовити"></p>
        </form>

