	<style>
		label.error {
			color: red;
			margin-bottom: -5px;
		}
		.form-horizontal .controls 
		{
    		margin-left: 45%;
		}
		.form-horizontal .control-label 
		{
			width: 40%;
		}
	</style>
	<script>
	$(document).ready(function()
	{
		$("#order_form").validate(
		{
			onkeyup: false,
			rules: 
			{
				customer_name: 
				{
					required: true
				},
				customer_email: 
				{
					email: true
				},
				customer_phone: 
				{
					required: true,
				}
			},
			messages: 
			{
				customer_name: 
				{
					required: "Вкажіть, будь ласка, Ваше ім'я!"
				},
				customer_email: 
				{
					email: "Не коректний email!"
				},
				customer_phone: 
				{
					required: "Вкажіть, будь ласка, Ваш номер телефону!",
				}
			},
			errorPlacement: 
				function(error, element) 
				{
      				error.prependTo(element.parent().find("small"));
    			}
		});
	});
	function submit_order_form()
	{
		$("#order_form").submit();
	}
	</script>   
        <form class="form-horizontal" name="order" id="order_form" method="GET" action="/thanks_page">
        	<fieldset>
        	<div align="center">
        		<legend>Оформити замовлення</legend>
        	</div>
            <input name="form" type="hidden" value="order_form">
            <div class="control-group">
				<label class="control-label">Ім'я</label>
				<div class="controls">
					<input id="customer_name" name="customer_name" type="text">
					<span class="help-inline"><small class="muted">обов'язково</small></span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">Адреса</label>
				<div class="controls">
					<input id="customer_address" name="customer_address" type="text">
					<span class="help-inline"><small class="muted">не обов'язково</small></span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">Електронна адреса</label>
				<div class="controls">
					<input id="customer_email" name="customer_email" type="text">
					<span class="help-inline"><small class="muted">не обов'язково</small></span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">Телефон</label>
				<div class="controls">
					<input id="customer_phone" name="customer_phone" type="text">
					<span class="help-inline"><small class="muted">обов'язково</small></span>
				</div>
			</div>
			<br>
			<div align="center">
				<a class="btn btn-large" href="shopping_cart">
					<i class="icon-chevron-left"></i>
					 Повернутися до кошика 
				</a>
				<a class="btn btn-large btn-primary" onclick="submit_order_form()">Замовити <i class="icon-chevron-right icon-white"></i></a>
			</div>	
		</fieldset>           
        </form>

